.add-catalog {
  width: 280px;
  margin: 0 auto;
}

.add-catalog__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin: 0;
  .border;
  padding: 30px 0;
}

.add-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.add-catalog__item {
  padding-top: 13px;
  padding-bottom: 17px;
  .border;
}

.add-catalog__item-name-link {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.add-catalog__item-name {
  margin: 0;
  font-weight: normal;
}
