.advantages {
  margin: 0 auto;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  padding-left: 80px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin-bottom: 20px;
}

.advantages__item-description {
  margin: 0;
}

.advantages__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: absolute;
  left: 0;
  top: 0;
}

.advantages__item--1::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages__item--2::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages__item--3::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages__item--4::before {
  background-image: url("../img//advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
}
