.background-wrapper {
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .background-wrapper {
    background-color: #ffffff;
  }

  .background-wrapper--footer {
    background-color: #f2f2f2;
  }
}

@media (min-width: 1440px) {
  .background-wrapper {
    background-color: #f2f2f2;
  }
}
