.background-wrapper {
  background-color: #f2f2f2;
}

.background-wrapper--main-top {
  background-color: transparent;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 168px;
  position: relative;
  background-size: 280px 270px;
}

.background-wrapper--main-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 66%;
  width: 100%;
  z-index: -1;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .background-wrapper--main-top {
    background-image: url("../img/index-can-mobile@2x.png");
  }

  .background-wrapper--main-top::after {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .background-wrapper {
    background-color: #ffffff;
  }

  .background-wrapper--footer {
    background-color: #f2f2f2;
  }

  .background-wrapper--main-top {
    background-image: none;
  }

  .background-wrapper--main-top::after {
    background-image: none;
  }

  .background-wrapper--example {
    position: relative;
  }

  .background-wrapper--example::after {
    content: "";
    z-index: 0;
    position: absolute;
    background: linear-gradient(to right, #f2f2f2 50%, #e2e2e2 50%);
    width: 100%;
    height: 46%;
    top: 600px;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .background-wrapper {
    background-color: #f2f2f2;
  }

  .background-wrapper--main-top {
    background: url("../img/index-background-desktop@1x.jpg") no-repeat 50vw 0;
    width: 100%;
    background-size: 50%;
    margin-top: -105px;
    padding-top: 105px;
  }

  .background-wrapper--example::after {
    top: 0;
    background: linear-gradient(to right, #f2f2f2 75%, #e2e2e2 75%);
    height: 100%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .background-wrapper--main-top {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
