.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  .border;
}

.catalog__item-img-link {
  width: 140px;
  height: 144px;
}
