.contacts__job-block {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  min-height: 115px;
}

.contacts__vacancy {
  .oswald-regular();
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-transform: uppercase;
  width: 50%;
  padding: 10px 5px;
}

.contacts__address {
  display: block;
  color: #444;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  width: 50%;
  padding: 10px 0;
}
