.developer {
  width: 280px;
  min-height: 78px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer__link:hover + .developer__link-img svg,
.developer__link-img:hover svg {
  fill: #68b738;
}

.developer__link:active + .developer__link-img svg,
.developer__link:active,
.developer__link-img:active svg {
  opacity: 0.3;
}

.developer__link {
  .arial-mt;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
}

.developer__link-img {
  width: 27px;
  height: 34px;
  display: block;
  font-size: 0;
}

.developer__link-img-svg {
  fill: #666666;
}

.developer--catalog {
  min-height: 84px;
}

.developer--catalog a {
  padding-bottom: 13px;
}

@media (min-width: @tablet-width) {
  .developer {
    width: 160px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .developer {
    width: 160px;
    margin-right: 0;
    margin-left: auto;
  }

  .developer--catalog a {
    padding-bottom: 0;
  }
}
