.diets {
  width: 280px;
  padding-top: 20px;
}

.diets__block {
  width: 225px;
  padding-left: 20px;
  padding-right: 35px;
  padding-top: 33px;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 20px;
}

.diets__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 32px;
  font-weight: normal;
}

.diets__title::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  top: 23px;
}

.diets__title::after {
  content: "";
  left: 22px;
  top: 22px;
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.diets__title--weight-gain::after {
  background-image: url("../img/icon-cat-pro.svg");
  width: 65px;
  height: 65px;
  left: 15px;
  top: 17px;
}

.diets__link {
  display: block;
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 20px;
  padding-left: 0;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.diets__link::after {
  content: "";
  width: 25px;
  height: 13px;
  background: url("../img/icon-right-arrow-long.svg") no-repeat;
  position: absolute;
  left: 95px;
  top: 22px;
}

.diets__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .diets {
    width: auto;
    padding-top: 0;
  }

  .diets__block {
    width: auto;
    padding-right: 285px;
    padding-left: 50px;
    padding-bottom: 40px;
    padding-top: 75px;
    margin-bottom: 30px;
  }

  .diets__block--weight-gain {
    margin-bottom: 47px;
    padding-right: 315px;
  }

  .diets__link {
    border: 0;
    margin-top: 18px;
    font-size: 20px;
    line-height: 20px;
  }

  .diets__link::after {
    width: 24px;
    height: 11px;
    left: 130px;
    top: 25px;
  }

  .diets__title {
    font-size: 36px;
    margin-left: 0;
    margin-bottom: 25px;
  }

  .diets__title::before {
    width: 200px;
    height: 200px;
    left: 447px;
    top: 92px;
  }

  .diets__title::after {
    width: 200px;
    height: 200px;
    top: 75px;
    left: 447px;
  }

  .diets__title--weight-gain::after {
    width: 268px;
    height: 113px;
    top: 135px;
    left: 412px;
  }
}

@media (min-width: @desktop-width) {
  .diets {
    display: flex;
    padding-top: 0;
  }

  .diets__block {
    width: 470px;
    padding: 75px 50px 40px;
    margin-right: 80px;
    margin-bottom: 50px;
  }

  .diets__block:last-child {
    margin-right: 0;
  }

  .diets__title {
    margin-left: 165px;
    margin-bottom: 75px;
    position: relative;
  }

  .diets__title::before {
    width: 100px;
    height: 100px;
    left: -165px;
    top: -34px;
  }

  .diets__link {
    margin-top: 10px;
  }

  .diets__title::after {
    width: 100px;
    height: 100px;
    top: -35px;
    left: -165px;
  }

  .diets__title--weight-gain::after {
    width: 135px;
    top: -30px;
    left: -180px;
  }

  .diets__diet-description {
    padding-bottom: 0;
  }
}
