.main-menu-toggle__site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  .oswald-medium;
}

.main-menu-toggle__site-nav-item {
  padding-top: 24px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.main-menu-toggle__site-nav-item-link {
  color: #111111;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-menu-toggle__button {
    display: none;
  }

  .main-menu-toggle__site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
    min-height: 105px;
    .oswald-regular();
  }

  .main-menu-toggle__site-nav-item {
    padding: 0;
    margin-right: 37px;
  }

  .main-menu-toggle__site-nav-item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .main-menu-toggle__site-nav {
    align-items: flex-end;
    font-size: 20px;
  }

  .main-menu-toggle__site-nav-item {
    padding-bottom: 15px;
  }

  .main-menu-toggle__site-nav-item-link {
    color: #ffffff;
  }

  .page-header__container--catalog .main-menu-toggle__site-nav-item-link {
    color: #111111;
  }
}
