.page-footer {
  width: 320px;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 280px;
  margin: 0 auto;
}

.page-footer__logo-img {
  display: block;
  margin: 0 auto;
}

