.page-main {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  .oswald-regular;
}

.page-main--index {
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 168px, 0 0;
}

.page-main__title {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
}

.page-main__subtitle {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 300px;
  text-transform: uppercase;
}

.page-main__catalog-title {
  display: block;
  margin-bottom: 0;
  padding-bottom: 30px;
  .border;
  padding-left: 20px;
  padding-right: 0;
}

.page-main__bargain {
  padding-top: 40px;
  padding-bottom: 35px;
  width: 280px;
  margin: 0 auto;
  background: url("../../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-position-y: 40px;
  min-height: 290px;
}

.page-main__bargain-offer {
  margin: 0;
  .arial-mt;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 190px 59px 0;
  text-align: center;
}
