.page-header {
  width: 100%;
}

.page-header__logo-link {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
}

.page-header__container {
  display: flex;
  .border;
  flex-wrap: wrap;
  position: relative;
}

.page-header__logo-link:hover {
  opacity: 0.8;
}

.page-header__logo-link:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-header__logo-link {
    display: flex;
    align-items: center;
    margin-right: 110px;
    min-height: 105px;
    padding: 0;
  }

  .page-header__container {
    border: 0;
  }

  .page-header__logo {
    width: 175px;
    height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-link {
    align-items: flex-end;
    margin-right: 540px;
    min-height: 115px;
  }

  .page-header__container--catalog::after {
    background: none;
  }

  .page-header__logo {
    width: 205px;
  }
}
