.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 280px;
  margin: 0 auto;
}

.page-footer__logo-img {
  display: block;
  margin: 0 auto;
}

.page-footer__logo-link {
  display: block;
}

.page-footer__map {
  border: 0;
  margin-bottom: -5px;
  width: 100%;
}

@media (min-width: 768px) {
  .page-footer__bottom-footer {
    display: flex;
    align-items: center;
    min-height: 150px;
  }

  .page-footer__logo {
    padding: 0;
    margin: 0;
    margin-right: 155px;
    border: 0;
    width: 128px;
  }

  .page-footer__logo-img {
    margin: 0;
  }

  .page-footer__map {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .page-footer__logo {
    margin-right: 215px;
  }
}
