.show-more {
  width: 280px;
  padding: 80px 20px 25px;
  .border;
  position: relative;
}

.show-more::before {
  content: "";
  width: 31px;
  height: 31px;
  background: url("../img/icon-plus-mobile.svg") no-repeat;
  position: absolute;
  left: calc(~"50% - 15.5px");
  top: 27px;
  fill: rgba(0, 0, 0, 0.2);
}

.show-more__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 auto;
}

.show-more__subtitle {
  margin: 0 auto;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
  margin-top: 9px;
  .arial-mt;
}

@media (min-width: @tablet-width) {
  .show-more {
    width: 250px;
    padding-top: 163px;
    padding-bottom: 40px;
    padding-right: 37px;
    padding-left: 37px;
    background-color: #ffffff;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }

  .show-more::before {
    width: 61px;
    height: 61px;
    background: url("../img/icon-plus.svg") no-repeat;
    left: calc(~"50% - 30.5px");
    top: 55px;
    opacity: 0.2;
  }

  .show-more__title {
    width: 135px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  .show-more__subtitle {
    width: 180px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 85px;
    margin-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .show-more {
    width: 195px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
