@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
       url(../fonts/oswaldregular.woff2) format("woff2"),
       url(../fonts/oswaldregular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
       url(../fonts/oswaldmedium.woff2) format("woff2"),
       url(../fonts/oswaldmedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald", "Arial", serif;
  font-weight: 400;
}

.oswald-medium {
  font-family: "Oswald", "Arial", serif;
  font-weight: 500;
}

@import "page-header";
@import "main-menu-toggle";
@import "page-main";
@import "button";
@import "visually-hidden";
@import "wrapper";
@import "diets";
@import "paragraph";
@import "advantages";
@import "example";
@import "background-wrapper";
@import "big-title";
@import "page-footer";
@import "socials";
@import "developer";
@import "contacts";
